extends default

block content
	table
		tr.table_header
			th Name
			th Category
			th Location
			th Amount
			th Perishable
			th Note
			th
			th

		each item in list
			if(item.isPerishable===1) 
				-var isPerishable='Yes'
			else
				-var isPerishable='No'
			tr
				td= item.name
				td= item.category
				td= item.location
				td= item.qty+" "+item.unit
				td= isPerishable
				td= item.note	
				td
					form(method="POST" action="/update_item")
						input(type="hidden" name="itemID" value=item.itemID)
						input(type='submit', value='Update')
				td
					form(method="POST" action="/delete_item")
						input(type="hidden" name="itemID" value=item.itemID)
						input(type='submit', value='Delete')